### 1. Arithemetic Operators

    1. + 
    2. -
    3. *
    4. / (absolute division)
    5. // (floor division)
    6. %  (remainder)
    7. ** (power)

In [1]:
10 + 3

13

In [2]:
"hello" + "world"

'helloworld'

In [3]:
12.45 + 23.45

35.9

In [4]:
(12+3j) + (1+5j)

(13+8j)

In [5]:
[1,2,3,4] + [3,4,5,6]

[1, 2, 3, 4, 3, 4, 5, 6]

In [6]:
(1,2,3) + (3,4,5)

(1, 2, 3, 3, 4, 5)

In [7]:
{1,2,3} + {4,5,6}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [8]:
12 - 34

-22

In [9]:
12.34 - 12

0.33999999999999986

In [10]:
(12+3j) - (4+5j)

(8-2j)

In [11]:
5**2  #power

25

In [12]:
12**5

248832

In [13]:
(12.45)**2

155.00249999999997

In [14]:
34**5

45435424

In [15]:
2*4

8

In [16]:
"hello"*6

'hellohellohellohellohellohello'

In [17]:
[1,2,3,4]*4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [18]:
(1,2,3)*5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [19]:
a = 12.34
b = 34

In [20]:
a/b  #absolute or true division

0.3629411764705882

In [21]:
12/45

0.26666666666666666

In [24]:
12//45

0

In [26]:
67/5

13.4

In [27]:
67//5  #give value before decimal --> absolute division

13

In [28]:
12%3

0

In [29]:
34%2

0

In [30]:
30%7

2

### 2. Comparison Operators

    1. ==
    2. !=
    3. <=
    4. >=
    5. >
    6. <

In [31]:
10 == 45

False

In [32]:
"hello" != "bye"

True

In [33]:
"12" == 12

False

In [34]:
"hello" > 12

TypeError: '>' not supported between instances of 'str' and 'int'

In [35]:
"hello" > "hi"

False

In [36]:
ord("i")

105

In [37]:
ord("e")

101

In [38]:
"hello" < "hi"

True

In [39]:
[1,2,3,4] > [1,2,10,34]

False

In [40]:
(1,2,3) == (1,2,3)

True

In [41]:
(1,2,3) != (1,2,3)

False

In [42]:
["hello","hi"] > ["HELLO","HI"]

True

In [43]:
"h" > "H"

True

In [44]:
["hello","hi"] == ["HELLO","HI"]

False

In [45]:
["hello",'hi'] == ["hello","hi"]

True

In [46]:
"hello" >= "hi"
# > or =

False

In [47]:
"hello" <= "hi"  #<

True

In [48]:
"hello" <= "hello" #=

True

#### Logical Operators

    1. and (*)
    2. or (+)
    3. not (opposite)
    
    
        I          II        AND                                   I       II         OR
               
     0(False)    1(True)    0(False)                            0(False)   0(False)   0(False)
     1(True)     0(False)   0(False)                            0(False)   1(True)    1(True)
     0(False)    0(False)   0(False)                            1(True)    0(False)   1(True)
     1(True)     1(True)    1(True)                             1(True)    1(True)    1(True)
     
     
     
     
     NOT --> True --> False
             False --> True

In [49]:
True and True

True

In [50]:
None and 0

In [51]:
False and 0

False

In [52]:
True and 0  #False

0

In [53]:
[] and "hello"  #False and True

[]

In [54]:
() and []  #False and False

()

In [55]:
True or 0  #True or Fase

True

In [56]:
"hello" or [1,2,3,4,5]  #True or True

'hello'

In [57]:
[1,2,3,4] or []  #True or False

[1, 2, 3, 4]

In [58]:
None or 0  #False or False

0

In [59]:
not "hello"  #not True

False

In [60]:
not None  #not False

True

In [61]:
not []

True

In [62]:
not 1234  #not True

False

In [63]:
hi = 1234

In [64]:
("hello" and hi) or ([] or [1,2,3,4,5])

1234

In [65]:
("hello" and hi)

1234

In [66]:
([] or [1,2,3,4,5])

[1, 2, 3, 4, 5]

In [67]:
(hi and None) or (not hi)
#False or (not True)
#False or False

False

### Assignment Operators

In [68]:
a = 10

In [69]:
a

10

In [70]:
b = "hello"

In [71]:
b

'hello'

In [72]:
"hello" + "hi"

'hellohi'

In [73]:
"hello" += "hi"

SyntaxError: can't assign to literal (<ipython-input-73-e9c705a4240a>, line 1)

In [74]:
a = "hello"

In [75]:
a += "hi"
#a = a + "hi"

In [76]:
a

'hellohi'

In [77]:
123 + 56

179

In [78]:
b = 123
b += 56

In [79]:
b

179

In [80]:
b -= 10  #b = 179 - 10 = 169

In [81]:
b

169

In [82]:
b *= 2

In [83]:
b

338

In [84]:
b /= 4

In [85]:
b

84.5

In [86]:
b //= 2

In [87]:
b  #float data type

42.0

In [88]:
10 // 45  #interger data --> interger data type return

0

In [89]:
10 / 45

0.2222222222222222

In [90]:
84.5 / 2

42.25

In [91]:
b

42.0

In [92]:
b **= 3

In [93]:
b

74088.0

#### Bitwise Operators

    1. & (and)
    2. | (or)
    3. ^  (xor)
    4. << (left shift)
    5. >> (right shift)

In [94]:
101 & 101

101

In [95]:
2 & 5

0

In [96]:
bin(2)

'0b10'

In [97]:
bin(5)

'0b101'

In [98]:
### 010
### 101
### 000 --> 0

In [99]:
bin(0)

'0b0'

In [100]:
4 & 6

4

In [101]:
bin(4)

'0b100'

In [102]:
bin(6)

'0b110'

            1 0 0
             AND
            1 1 0
            
            
            1 0 0
            
            
            
            Decimal of 4 is 100 thats why it return us 4

In [103]:
"hello" | "hi"

TypeError: unsupported operand type(s) for |: 'str' and 'str'

In [104]:
6 | 5

7

In [105]:
bin(6)

'0b110'

In [106]:
bin(5)

'0b101'

        1 1 0
        1 0 1
        
        1 1 1

In [107]:
bin(7)

'0b111'

In [108]:
bin(4)

'0b100'

In [109]:
bin(5)

'0b101'

In [110]:
(5 & 4) | (4 | 5)

5

In [111]:
(5 & 4)

4

    101                                 101
    100                                 100
    
    (1*1) = 1                         (1+1) = 1
    (0*0) = 0                         (0+0) = 0
    (1*0) = 0                         (1+0) = 1
    
    output --> binary = 100           output --> binary --> 101
                decimal = 4              decimal --> 5

In [112]:
(4|5)

5

### Identity Operators

    1. is
    2. is not
        
    is --> check id

In [115]:
"hello" is "hi"

False

In [116]:
id("hello")

2788085861104

In [118]:
id("hi")

2788046136048

In [119]:
123 is 123

True

In [120]:
id(123)

140729301840080

In [121]:
id(123)

140729301840080

In [122]:
123 == 123

True

    == --> data check
    is --> id check

In [123]:
a = "hello world"
b = "hello world"

In [124]:
a == b

True

In [125]:
a is b

False

In [126]:
id(a)  #strings --> special character changes its id

2788085902256

In [127]:
id(b)

2788085902384

In [128]:
a = "hello"
b = "hello"

In [129]:
a == b

True

In [130]:
a is b  #id is same bcz no special character is given

True

In [131]:
id(a)

2788085861104

In [132]:
id(b)

2788085861104

In [133]:
a = [1,2,3,4]
b = [1,2,3,4]

In [134]:
a == b

True

In [135]:
a is b

False

In [137]:
id(a)

2788085773128

In [138]:
id(b)

2788085856136

In [139]:
"hello" is "HELLO"

False

In [140]:
a

[1, 2, 3, 4]

In [141]:
b

[1, 2, 3, 4]

In [142]:
a is b

False

In [143]:
a is not b

True

#### Membership Operators

    1. in 
    2. not in
    
    
    left_side_data in right_side_data
    
    right_side_data --> iterable object

In [144]:
"1" in "1234"

True

In [145]:
"hello" in "hello world"

True

In [146]:
" " in [1,2," ",3,4]

True

In [147]:
"hi" in [1,2,3,4]

False

In [148]:
1 in 1234

TypeError: argument of type 'int' is not iterable

In [149]:
1 in (1,2,3,4)

True

In [150]:
"hi" in {"hi","hello","bye"}

True

In [151]:
d = {"name":"simran","subject":"python"}

In [152]:
d

{'name': 'simran', 'subject': 'python'}

In [153]:
"name" in d  #by default iterate keys

True

In [154]:
"name" in d.values()

False

In [155]:
"PYTHON" in d.values()

False

In [156]:
"PYTHON".lower() in d.values()

True

In [157]:
d.items()

dict_items([('name', 'simran'), ('subject', 'python')])

In [158]:
("name","simran") in d.items()

True

In [159]:
("name","python") in d.items()

False

In [160]:
(1,2,3,4) in ["hi","hello",(1,2,3,4)]

True

In [161]:
[1,2,3] in {"hi","hello",[1,2,3]}

TypeError: unhashable type: 'list'

In [162]:
# control statements