In [1]:
_ = 123

In [2]:
_

123

In [4]:
for _ in "hello world":
    print(_,end=",")

h,e,l,l,o, ,w,o,r,l,d,

In [5]:
for _ in ["hello","hi","bye","bye bye"]:
    print(_)

hello
hi
bye
bye bye

In [6]:
for _ in ("hello","hi","bye","bye bye"):
    print(_)

hello
hi
bye
bye bye

In [7]:
for i in {"name":"simran","subject":"python"}:
    print(i)

name
subject

In [8]:
for i in {"name":"simran","subject":"python"}.values():
    print(i)

simran
python

In [9]:
for i in {"name":"simran","subject":"python"}.items():
    print(i)

('name', 'simran')
('subject', 'python')

In [10]:
a,b = "ab"  #a = a, b = b

In [11]:
a

'a'

In [12]:
b

'b'

In [13]:
a,b,c,d,e = "pytho"

In [14]:
a

'p'

In [15]:
b

'y'

In [16]:
c

't'

In [17]:
d

'h'

In [18]:
e

'o'

In [19]:
a,b,c = "python"

ValueError: too many values to unpack (expected 3)

In [20]:
a,b,c = 121,345,677

In [21]:
a

121

In [22]:
b

345

In [23]:
c

677

In [24]:
a,b,c = ['a','b','c','d','e']

ValueError: too many values to unpack (expected 3)

In [25]:
a,b = [1,2]

In [26]:
a

1

In [27]:
b

2

In [28]:
a,b,c = {"hi":"bye","hello":"bye","hey":"bye"}

In [29]:
a

'hi'

In [30]:
b

'hello'

In [31]:
c

'hey'

In [32]:
a,b,c = ["hello",(1,2),(3,4)]

In [33]:
a

'hello'

In [34]:
b

(1, 2)

In [35]:
c

(3, 4)

In [36]:
d = {"state":"Raj","city":"Jaipur","Area":"Malviya Nagar"}

In [37]:
d

{'state': 'Raj', 'city': 'Jaipur', 'Area': 'Malviya Nagar'}

In [38]:
d.items()

dict_items([('state', 'Raj'), ('city', 'Jaipur'), ('Area', 'Malviya Nagar')])

In [39]:
a,b,c = d.items()

In [40]:
a

('state', 'Raj')

In [41]:
b

('city', 'Jaipur')

In [42]:
c

('Area', 'Malviya Nagar')

In [43]:
for i in d.items():
    print(i)

('state', 'Raj')
('city', 'Jaipur')
('Area', 'Malviya Nagar')

In [44]:
for i,j in d.items():
    print(i,"-->",j)
    
#i,j = ("state","Raj") i --> state, j --> Raj
#i,j = ("city","Jaipur") i --> city j --> jaipur
#i,j = ("Area","Malviya Nagar") i --> Area j --> Malviya nagar

state --> Raj
city --> Jaipur
Area --> Malviya Nagar

In [45]:
for i,j,k in "str":
    print(i,j,k)
    
#i,j,k = s

ValueError: not enough values to unpack (expected 3, got 1)

In [46]:
for i,j in ["12","ab"]:
    print(i,j)
#i,j = 12
#i,j = ab

1 2
a b

In [47]:
d

{'state': 'Raj', 'city': 'Jaipur', 'Area': 'Malviya Nagar'}

In [49]:
for i,j,k in [["hi","bye","hello"],"str",(1,2,3),"hel",d,{1,2,3},"hello"]:
    print("\n Value 1 : ",i)
    print("\n Value 2 : ",j)
    print("\n Value 3 : ",k)
    print("*"*80)
    
#i,j,k = ["hi","bye","hello"]
#i,j,k = "str" , i = s, j = t, k = r
#i,j,k = (1,2,3), i = 1, j = 2, k = 3
#i,j,k = "hel", i = h, j = e, k = l
#i,j,k = state,city,area
#i,j,k = {1,2,3}
#i,j,k = "hello"

 Value 1 :  hi

 Value 2 :  bye

 Value 3 :  hello
********************************************************************************

 Value 1 :  s

 Value 2 :  t

 Value 3 :  r
********************************************************************************

 Value 1 :  1

 Value 2 :  2

 Value 3 :  3
********************************************************************************

 Value 1 :  h

 Value 2 :  e

 Value 3 :  l
********************************************************************************

 Value 1 :  state

 Value 2 :  city

 Value 3 :  Area
********************************************************************************

 Value 1 :  1

 Value 2 :  2

 Value 3 :  3
********************************************************************************

ValueError: too many values to unpack (expected 3)

In [51]:
name = ["simran","Aarav","Haresh","Daivat"]
marks = [90,80,100,70]

In [52]:
zip(name,marks)  #return object --> iterable

In [53]:
print(*zip(name,marks))  #index wise pairing

('simran', 90) ('Aarav', 80) ('Haresh', 100) ('Daivat', 70)

In [54]:
dict(zip(name,marks))

{'simran': 90, 'Aarav': 80, 'Haresh': 100, 'Daivat': 70}

In [55]:
list(zip(name,marks))

[('simran', 90), ('Aarav', 80), ('Haresh', 100), ('Daivat', 70)]

In [56]:
for n,m in zip(name,marks):
    print("Name : ",n)
    print("Marks : ",m)
    print("*"*80)

Name :  simran
Marks :  90
********************************************************************************
Name :  Aarav
Marks :  80
********************************************************************************
Name :  Haresh
Marks :  100
********************************************************************************
Name :  Daivat
Marks :  70
********************************************************************************

In [58]:
name.extend(["Ajay","Aman","Ankit","Akshay"])

In [59]:
name

['simran', 'Aarav', 'Haresh', 'Daivat', 'Ajay', 'Aman', 'Ankit', 'Akshay']

In [60]:
len(name)

8

In [61]:
name.append("Mihir")

In [62]:
name

['simran',
 'Aarav',
 'Haresh',
 'Daivat',
 'Ajay',
 'Aman',
 'Ankit',
 'Akshay',
 'Mihir']

In [63]:
from random import randint

In [64]:
age = []
for i in range(9):
    age.append(randint(10,30))
print(age)

[20, 17, 19, 12, 22, 12, 16, 13, 16]

In [65]:
name

['simran',
 'Aarav',
 'Haresh',
 'Daivat',
 'Ajay',
 'Aman',
 'Ankit',
 'Akshay',
 'Mihir']

In [66]:
age

[20, 17, 19, 12, 22, 12, 16, 13, 16]

In [68]:
print(*zip(name,age))

('simran', 20) ('Aarav', 17) ('Haresh', 19) ('Daivat', 12) ('Ajay', 22) ('Aman', 12) ('Ankit', 16) ('Akshay', 13) ('Mihir', 16)

In [69]:
for name,age in zip(name,age):
    if age>=18:
        print(name,"Can Vote!!!!")
    else:
        print(name,"Cannot Vote!!!!")

simran Can Vote!!!!
Aarav Cannot Vote!!!!
Haresh Can Vote!!!!
Daivat Cannot Vote!!!!
Ajay Can Vote!!!!
Aman Cannot Vote!!!!
Ankit Cannot Vote!!!!
Akshay Cannot Vote!!!!
Mihir Cannot Vote!!!!

In [70]:
l1 = ["I","to","a lot"]
l2 = ["like","dance","in school"]

In [71]:
l1

['I', 'to', 'a lot']

In [72]:
l2

['like', 'dance', 'in school']

In [73]:
list(zip(l1,l2))

[('I', 'like'), ('to', 'dance'), ('a lot', 'in school')]

In [75]:
sen = ""
for i,j in zip(l1,l2):
    sen += i + " " + j + " "
print(sen)
#i,j = ("I","like")

I like to dance a lot in school

In [76]:
a = [1,2,3]
b = ["one","two","three","four"]

In [77]:
print(*zip(a,b))

(1, 'one') (2, 'two') (3, 'three')

In [78]:
print(*zip("hello","bye"))

('h', 'b') ('e', 'y') ('l', 'e')

In [80]:
print(*enumerate(b))

(0, 'one') (1, 'two') (2, 'three') (3, 'four')

In [82]:
print(*enumerate(b,start=3))

(3, 'one') (4, 'two') (5, 'three') (6, 'four')

In [83]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [84]:
print(*enumerate("hello"))

(0, 'h') (1, 'e') (2, 'l') (3, 'l') (4, 'o')

In [85]:
print(*enumerate(1234))

TypeError: 'int' object is not iterable

In [87]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [88]:
a = dir(set)
type(a)

list

In [92]:
i = a.index("add")
func = a[i:]
print(*enumerate(func,start=1))

(1, 'add') (2, 'clear') (3, 'copy') (4, 'difference') (5, 'difference_update') (6, 'discard') (7, 'intersection') (8, 'intersection_update') (9, 'isdisjoint') (10, 'issubset') (11, 'issuperset') (12, 'pop') (13, 'remove') (14, 'symmetric_difference') (15, 'symmetric_difference_update') (16, 'union') (17, 'update')

In [95]:
for i in enumerate(func,start=1):
    print(i[0],"-->",i[1])
    
#i = (1,"add"), i[0] = 1, i[1] = add
#i = (2,"clear"),i[0] = 2, i[1] = clear

1 --> add
2 --> clear
3 --> copy
4 --> difference
5 --> difference_update
6 --> discard
7 --> intersection
8 --> intersection_update
9 --> isdisjoint
10 --> issubset
11 --> issuperset
12 --> pop
13 --> remove
14 --> symmetric_difference
15 --> symmetric_difference_update
16 --> union
17 --> update

In [96]:
for i,f in enumerate(func,start=1):
    print(i,"-->",f)
    
#i = (1,"add"), i[0] = 1, i[1] = add
#i = (2,"clear"),i[0] = 2, i[1] = clear

1 --> add
2 --> clear
3 --> copy
4 --> difference
5 --> difference_update
6 --> discard
7 --> intersection
8 --> intersection_update
9 --> isdisjoint
10 --> issubset
11 --> issuperset
12 --> pop
13 --> remove
14 --> symmetric_difference
15 --> symmetric_difference_update
16 --> union
17 --> update

In [99]:
i = 0
while i<=9:
    print("hi")
    i += 1

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [98]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print("hi")

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [101]:
print(*range(100))

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [103]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

    range
    
        start = 0
        stop = given by you
        step = 1
        
        
        stop before one step given in stop argument

In [105]:
range(10)
#start = 0, stop = 10, step = 1
#0 -- 9
#return iterable object

range(0, 10)

In [106]:
print(*range(10))

0 1 2 3 4 5 6 7 8 9

In [108]:
print(*range(10),sep=",")
#print(0,1,2,3,4,5,6,7,8,9)

0,1,2,3,4,5,6,7,8,9

In [109]:
print(0,1,2,3,4,5,6,7,8,9)

0 1 2 3 4 5 6 7 8 9

In [110]:
print(*range(2,101,2))

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [113]:
print(*range(1,100,2),sep=",",end=".")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99.

In [114]:
print(*range(10,90,2))

10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88

In [116]:
b

['one', 'two', 'three', 'four']

In [119]:
print(*range(len(b)),sep=",")
#start = 0, stop = 4 , step = 1 --> 0,1,2,3

0,1,2,3

In [120]:
for i in range(len(b)):
    print(b[i])

one
two
three
four

In [121]:
for i in range(100):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,

In [122]:
n = int(input("\n Enter number of rows : "))
for i in range(n): #n = 5, i  --> 0,1,2,3,4
    print("*"*i)

 Enter number of rows : 5

*
**
***
****

In [124]:
n = int(input("\n Enter number of rows : "))
for i in range(1,n+1): #n = 5, i  --> 1,2,3,4,5
    print("* "*i)

 Enter number of rows : 5
*
* *
* * *
* * * *
* * * * *