In [10]:
def password_validate(passwd):
    if type(passwd) == str:
        if len(passwd) >= 8:
            l = 0
            u = 0
            s = 0
            n = 0
            for i in passwd:
                if i in "abcdefghijklmnopqrstuvwxyz":
                    l += 1
                elif i.isupper():
                    u += 1
                elif i in "0123456789":
                    n += 1
                elif i in ['#','$','%','&','@',' ','.','!','*']:
                    s += 1
            if l>=1 and u>=1 and s>=1 and n>=1:
                print("\n Password is Valid")
            else:
                print("\n Password is invalid")
        else:
            print("\n Password Must be 8 characters long")
    else:
        print("\n Please Give String data type")
        
passwd = input("\n Enter your password : ")
password_validate(passwd)

 Enter your password : Admin123@

 Password is Valid

In [1]:
int("a")

ValueError: invalid literal for int() with base 10: 'a'

In [2]:
"admin".islower()

True

In [3]:
#if (ch[i] >= 'a' and ch[i] <= 'z'):

In [4]:
ord("a")

97

In [5]:
ord("z")

122

In [6]:
ord("Z")

90

In [24]:
def date_valid(date):
    """
        The date should be in format ddmm
    """
    d = {("01","03","05","07","08","10","12"):31,("02",):29,("04","06","09","11"):30}
    date = str(date)
    m = date[2:]
    d1 = date[:2]
    if 1<=int(m)<=12:
        for k in d.keys():
            if m in k:
                v = d[k]
                if 1<=int(d1)<=v:
                    return True
        else:
            return False
                    
    else:
        return False
    return d

In [25]:
date_valid(2211)

True

In [26]:
date_valid(3002)

False

In [27]:
date_valid(3111)

False

In [29]:
date_valid(3112)

True

In [19]:
d1['02']

29

In [31]:
def f(a,b=0,c=0):
    print("A : ",a)
    print("B : ",b)
    print("C : ",c)

f()

TypeError: f() missing 1 required positional argument: 'a'

In [32]:
f(10)

A :  10
B :  0
C :  0

In [33]:
f(10,20)

A :  10
B :  20
C :  0

In [34]:
f(b=90,c=45,a=56)

A :  56
B :  90
C :  45

In [35]:
f(b=80,c=60)

TypeError: f() missing 1 required positional argument: 'a'

In [36]:
f(b=34,c=45,23)
#keyword --> a = 12, b = 23

SyntaxError: positional argument follows keyword argument (<ipython-input-36-c7f094bd07cd>, line 1)

In [37]:
f(23,c=34,b=45,)

A :  23
B :  45
C :  34

In [38]:
f(b=90,a=34)

A :  34
B :  90
C :  0

In [39]:
f(b=90,34)

SyntaxError: positional argument follows keyword argument (<ipython-input-39-c02d7b921174>, line 1)

##### Variable Length Arguments

In [40]:
def f(a,b):
    print("hello world")
    
f(10,20,30,40,70)

TypeError: f() takes 2 positional arguments but 5 were given

In [41]:
def f(*args):
    print(args)
    
    
f(1,2,3,4,4,5,6,7)

(1, 2, 3, 4, 4, 5, 6, 7)

In [42]:
def f(args):
    print(args)
    
    
f(1,2,3,4,4,5,6,7)

TypeError: f() takes 1 positional argument but 8 were given

In [44]:
def f(*args): #args --> arguments
    print(args)
    print(type(args))
    
    
f(1,2,3,4,4,5,6,7)

(1, 2, 3, 4, 4, 5, 6, 7)
<class 'tuple'>

In [45]:
def f(*var): #args --> arguments
    print(var)
    print(type(var))
    
    
f(1,2,3,4,4,5,6,7)

(1, 2, 3, 4, 4, 5, 6, 7)
<class 'tuple'>

In [46]:
def mysum(*var):
    return sum(var)


mysum(1,2,3,4,10,23,34,45,56)

178

In [48]:
def mul(*var):
    m = 1
    for i in var:
        m *= i
    print(m)
mul(2,3,4,5,6,10,12,13,14)  #2*3*4*5*6*10*12*13*14

15724800

In [49]:
2*3*4*5*6*10*12*13*14

15724800

In [50]:
def f(*args):
    for i in args:
        if type(i) == str:
            print("Hi string ",i)
        elif type(i) == int:
            print("Hi Integer ",i*2)
        else:
            print("Cannot handle")

f(10,20,"hello","hi","bye",12,13,14)

Hi Integer  20
Hi Integer  40
Hi string  hello
Hi string  hi
Hi string  bye
Hi Integer  24
Hi Integer  26
Hi Integer  28

In [51]:
a = 1,2,34,5,6

In [52]:
type(a)

tuple

In [53]:
def f(*args):
    args= list(args)
    for i in args:
        if type(i) == str:
            print("Hi string ",i)
        elif type(i) == int:
            print("Hi Integer ",i*2)
        else:
            print("Cannot handle")
    print(args)

f(10,20,"hello","hi","bye",12,13,14)

Hi Integer  20
Hi Integer  40
Hi string  hello
Hi string  hi
Hi string  bye
Hi Integer  24
Hi Integer  26
Hi Integer  28
[10, 20, 'hello', 'hi', 'bye', 12, 13, 14]

In [54]:
def maxi(*args):
    print("\n Maximum : ",max(args))
    print("\n Length : ",len(args))
    
maxi(1,2,3,4,5)

 Maximum :  5

 Length :  5

In [56]:
("Check",)*3

('Check', 'Check', 'Check')

In [57]:
("Check")*3

'CheckCheckCheck'

In [58]:
sum([1,2,3,4])

10

In [59]:
sum(1,2)

TypeError: 'int' object is not iterable

In [61]:
sum((2,3,4),3)

12

In [62]:
sum([2,3,4],3)

12

In [63]:
a = ('check',)
n = 2
for i in range(0,n):  #range(0,2) --> 0,1
    a = (a,)  #a = ((check,),), a = (((check,),),)
    print(a)

(('check',),)
((('check',),),)

In [64]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1

In [65]:
names1

['Amir', 'Bear', 'Charlton', 'Daman']

In [66]:
names2

['Amir', 'Bear', 'Charlton', 'Daman']

In [67]:
names3

['Amir', 'Bear', 'Charlton', 'Daman']

In [68]:
id(names1)

2185105808200

In [70]:
id(names2)

2185105808200

In [71]:
id(names3)

2185105808200

In [73]:
names2[0] = 'Alice'
print(names1,names2,names3)
names3[1] = 'Bob'
print(names1,names2,names3)

sum_ = 0
for ls in (names1, names2, names3):
    if ls[0] == 'Alice':
        sum_ += 1
    if ls[1] == 'Bob':
        sum_ += 10
    #sum += 1 --> sum = 1, sum_ += 10, sum_ = 11 + 11 = 22 + 11 = 33
print(sum)

['Alice', 'Bob', 'Charlton', 'Daman'] ['Alice', 'Bob', 'Charlton', 'Daman'] ['Alice', 'Bob', 'Charlton', 'Daman']
['Alice', 'Bob', 'Charlton', 'Daman'] ['Alice', 'Bob', 'Charlton', 'Daman'] ['Alice', 'Bob', 'Charlton', 'Daman']
33

In [74]:
### arguments
### scope (global scopre, local scope)