In [7]:
l = [1,2,3,4,5,6] 
# --> [6,1,2,3,4,5]

In [9]:
l = [1,2,3,4,5,6,7,8,9]
a = l.pop() 
[a] + l

[9, 1, 2, 3, 4, 5, 6, 7, 8]

##### sort --> homogenous list

In [10]:
l = [
    ['simran',10,20,30],
    ['ayushi',20,12,30],
    ['aman',23,31,20],
    ['manish',30,21,12]
]

In [11]:
l.sort()

In [12]:
l #list is homogenous --> elements --> list --> 0 index 
#first it will sort 0 index element
# [simran, ayushi, aman, manish]
# index wise sort of each element
# s,a,a,m
# a,a,m,s
# ay,am,m,s
# am,ay,m,s

[['aman', 23, 31, 20],
 ['ayushi', 20, 12, 30],
 ['manish', 30, 21, 12],
 ['simran', 10, 20, 30]]

In [14]:
l = [
    ['simran',10,20,30],
    ['ayushi',20,12,30],
    [12,23,31,20],
    ['manish',30,21,12]
]
# list is homogenous but nested list 0 index elements are not homogenous
# simran,ayushi,12,manish

In [15]:
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [19]:
l = [
    ['simran',10,20,30],
    ['ayushi',20,12,30],
    ['aman',23,31,20],
    ['manish',30,21,12]
]

In [17]:
l.sort()

In [18]:
l

[['aman', 23, 31, 20],
 ['ayushi', 20, 12, 30],
 ['manish', 30, 21, 12],
 ['simran', 10, 20, 30]]

In [20]:
l.sort(reverse=True)

In [21]:
l
#sort --> 0 index element

[['simran', 10, 20, 30],
 ['manish', 30, 21, 12],
 ['ayushi', 20, 12, 30],
 ['aman', 23, 31, 20]]

In [22]:
#now we want to sort according to another index --> like 1 index, or 2 index or 3 index

    In python there are libraries --> modules/packages
    Using the already written code

In [23]:
from operator import itemgetter

In [24]:
l.sort(key=itemgetter(1))

In [25]:
l  #now the nested list is sorted by 1 index elements

[['simran', 10, 20, 30],
 ['ayushi', 20, 12, 30],
 ['aman', 23, 31, 20],
 ['manish', 30, 21, 12]]

In [29]:
a = ['simran','aman','ayushi','daivat']
# 0 --> am,ay,d,s

In [27]:
a.sort()

In [28]:
a

['aman', 'ayushi', 'daivat', 'simran']

In [30]:
a.sort(key=itemgetter(2))

In [31]:
a
# --> a,i,m,u

['aman', 'daivat', 'simran', 'ayushi']

In [32]:
l

[['simran', 10, 20, 30],
 ['ayushi', 20, 12, 30],
 ['aman', 23, 31, 20],
 ['manish', 30, 21, 12]]

In [33]:
a

['aman', 'daivat', 'simran', 'ayushi']

In [34]:
a1 = a
a2 = a.copy()

In [35]:
a1

['aman', 'daivat', 'simran', 'ayushi']

In [36]:
a

['aman', 'daivat', 'simran', 'ayushi']

In [37]:
a2

['aman', 'daivat', 'simran', 'ayushi']

In [38]:
id(a)  #original

2218158082504

In [39]:
id(a1)  #assign

2218158082504

In [40]:
id(a2)  #copy

2218167438600

In [41]:
a.append(90)

In [42]:
a

['aman', 'daivat', 'simran', 'ayushi', 90]

In [43]:
a1

['aman', 'daivat', 'simran', 'ayushi', 90]

In [44]:
a2

['aman', 'daivat', 'simran', 'ayushi']

In [45]:
a2.append(100)

In [46]:
a2

['aman', 'daivat', 'simran', 'ayushi', 100]

In [47]:
a

['aman', 'daivat', 'simran', 'ayushi', 90]

In [48]:
a1

['aman', 'daivat', 'simran', 'ayushi', 90]

In [49]:
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [50]:
l = [
    ['simran','ayushi','ayush','nikhil'], #name
    [40,30,35,45], #science
    [49,30,40,36], #maths
    [30,25,35,30], #english
]
# take the name as input of student
# calculate the percentage for the student given as input 
# print the details i.e marks of student in each subject and percentagge
# eg --> input --> simran
# science --> 40, maths --> 49, eng --> 30, per = ((science+maths+eng)/150) * 100 
# print the information you got

### Tuple
    It consists of multiple elements like list
    
    1. sequential
    2. ordered
    3. immutable
    
    identification --> ()

In [51]:
t = ()

In [52]:
type(t)

tuple

In [53]:
t = (1)

In [54]:
type(t)

int

In [55]:
t = ("hello")

In [56]:
type(t)

str

In [57]:
(1+2)*8

24

In [58]:
(3)

3

In [59]:
t = (1,)

In [60]:
type(t)

tuple

In [61]:
t = ("simran",)

In [62]:
type(t)

tuple

In [63]:
t = (1,2,3,4,5,[1,2,3,4],"hello")

In [64]:
t

(1, 2, 3, 4, 5, [1, 2, 3, 4], 'hello')

In [65]:
t[-1]

'hello'

In [66]:
t[-2]

[1, 2, 3, 4]

In [67]:
t[0]

1

In [68]:
t[5]

[1, 2, 3, 4]

In [69]:
t[::-1]

('hello', [1, 2, 3, 4], 5, 4, 3, 2, 1)

In [70]:
t[3:]

(4, 5, [1, 2, 3, 4], 'hello')

In [71]:
t[7:]

()

In [72]:
t1 = ('hi','hello','how','are','you')

In [73]:
t1 + t

('hi', 'hello', 'how', 'are', 'you', 1, 2, 3, 4, 5, [1, 2, 3, 4], 'hello')

In [74]:
t1*3

('hi',
 'hello',
 'how',
 'are',
 'you',
 'hi',
 'hello',
 'how',
 'are',
 'you',
 'hi',
 'hello',
 'how',
 'are',
 'you')

In [75]:
t1*2

('hi', 'hello', 'how', 'are', 'you', 'hi', 'hello', 'how', 'are', 'you')

In [76]:
len(t1)

5

In [77]:
len(t1*2)

10

In [78]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [79]:
t

(1, 2, 3, 4, 5, [1, 2, 3, 4], 'hello')

In [80]:
t.count("hello")

1

In [81]:
t.count(4)

1

In [82]:
t.count("hi")

0

In [83]:
t.index("hello")

6

In [85]:
t.index([1,2,3,4])

5

In [86]:
t.index(4)

3

In [87]:
t

(1, 2, 3, 4, 5, [1, 2, 3, 4], 'hello')

In [88]:
t.index("hi")

ValueError: tuple.index(x): x not in tuple

## Dictionary

    It is in key value pair
    Multiple key-value pair can be stored , separated
    identification --> {}
    
    1. non sequential
    2. un-ordered
    3. mutable
    4. keys can be only of immutable data type (tuple,number,string)
    5. values can be of any data type
    6. keys should be unique

In [89]:
d = {"key":"value","key1":"value1","key2":"value2"}

In [90]:
d["key"]

'value'

In [91]:
d["key1"]

'value1'

In [92]:
d["key2"]

'value2'

In [93]:
my = {"name":"simran","subject":"python","profile":"trainer","company":"Grras Solutions"}

In [94]:
my["name"]

'simran'

In [95]:
my['profile']

'trainer'

In [96]:
my['company']

'Grras Solutions'

In [97]:
my

{'name': 'simran',
 'subject': 'python',
 'profile': 'trainer',
 'company': 'Grras Solutions'}

In [98]:
my['subject'] = ["python","web development"]  #mutable

In [99]:
my

{'name': 'simran',
 'subject': ['python', 'web development'],
 'profile': 'trainer',
 'company': 'Grras Solutions'}

In [100]:
id(my)

2218157767320

In [101]:
my['subject']

['python', 'web development']

In [102]:
my['subject'].append("data science")

In [103]:
my

{'name': 'simran',
 'subject': ['python', 'web development', 'data science'],
 'profile': 'trainer',
 'company': 'Grras Solutions'}

In [104]:
my['subject'].append("ML")

In [105]:
my

{'name': 'simran',
 'subject': ['python', 'web development', 'data science', 'ML'],
 'profile': 'trainer',
 'company': 'Grras Solutions'}

In [106]:
my['dob'] = "16-Jan"  #creating new key

In [107]:
my  #the key is not created so it will make new key

{'name': 'simran',
 'subject': ['python', 'web development', 'data science', 'ML'],
 'profile': 'trainer',
 'company': 'Grras Solutions',
 'dob': '16-Jan'}

In [108]:
my['name'] = "Simran Grover" #update existing key

In [109]:
my

{'name': 'Simran Grover',
 'subject': ['python', 'web development', 'data science', 'ML'],
 'profile': 'trainer',
 'company': 'Grras Solutions',
 'dob': '16-Jan'}

In [110]:
d = {"hi":"hello",'how':'are','you':'fine','hi':'bye'}

In [111]:
d

{'hi': 'bye', 'how': 'are', 'you': 'fine'}

    Make 5 dictionaries for your real time
    1. resume
    2. corona
    3. python
    4. sports
    5. choose yourself (hobby)

In [115]:
python_ = {"Founder":"Guido Van Rossum","Year":1991,"Version":['1.x','2.x','3.x'],
         "Fields":['Web Development','Data science','ML','AI','Automation'],
         "Lang":['Programming','Scripting'],
         'Templating Engine':'jinja',
         "Frameworks":["Flask","Django",'Dash'],
         "Desktop Application":['tkinter','pyqt']}

In [116]:
python_  #expand yourself

{'Founder': 'Guido Van Rossum',
 'Year': 1991,
 'Version': ['1.x', '2.x', '3.x'],
 'Fields': ['Web Development', 'Data science', 'ML', 'AI', 'Automation'],
 'Lang': ['Programming', 'Scripting'],
 'Templating Engine': 'jinja',
 'Frameworks': ['Flask', 'Django', 'Dash'],
 'Desktop Application': ['tkinter', 'pyqt']}

In [117]:
python_["Year"]

1991

In [118]:
python_["Fields"]

['Web Development', 'Data science', 'ML', 'AI', 'Automation']

In [121]:
resume = {
    "Personal Information" : {
        "Name" : "Simran grover",
        "Email" : "simrangrover5@gmail.com",
        "DOB" : "16-01",
        "Phone Number" : "7742529095"
    },
    "Languages Spoken" : ["Hindi","English"],
    "Skills" : {
        "Programming Language" : ["python",'c','c++'],
        "Web Development" : ["Flask","django"],
        "Design" : ["html","css","js","bootstrap"],
        "Desktop Application" : ["tkinter","pyqt"],
        "Data Science" : {
            "Data Analysis" : ["Numpy","Pandas","Scipy"],
            "Data Visualization" : ["Pandas","Matpltolib","Plotly","Seaborn"]
        }
    },
    "Education" : {
        "10th" : 92,
        "12th" : 80,
        "B.tech" : 77
    }
}

In [122]:
resume

{'Personal Information': {'Name': 'Simran grover',
  'Email': 'simrangrover5@gmail.com',
  'DOB': '16-01',
  'Phone Number': '7742529095'},
 'Languages Spoken': ['Hindi', 'English'],
 'Skills': {'Programming Language': ['python', 'c', 'c++'],
  'Web Development': ['Flask', 'django'],
  'Design': ['html', 'css', 'js', 'bootstrap'],
  'Desktop Application': ['tkinter', 'pyqt'],
  'Data Science': {'Data Analysis': ['Numpy', 'Pandas', 'Scipy'],
   'Data Visualization': ['Pandas', 'Matpltolib', 'Plotly', 'Seaborn']}},
 'Education': {'10th': 92, '12th': 80, 'B.tech': 77}}

In [123]:
resume["Languages Spoken"]

['Hindi', 'English']

In [124]:
resume["Phone Number"]

KeyError: 'Phone Number'

In [125]:
resume["Personal Information"]

{'Name': 'Simran grover',
 'Email': 'simrangrover5@gmail.com',
 'DOB': '16-01',
 'Phone Number': '7742529095'}

In [126]:
resume["Personal Information"]["Phone Number"]

'7742529095'

In [127]:
resume["Skills"]

{'Programming Language': ['python', 'c', 'c++'],
 'Web Development': ['Flask', 'django'],
 'Design': ['html', 'css', 'js', 'bootstrap'],
 'Desktop Application': ['tkinter', 'pyqt'],
 'Data Science': {'Data Analysis': ['Numpy', 'Pandas', 'Scipy'],
  'Data Visualization': ['Pandas', 'Matpltolib', 'Plotly', 'Seaborn']}}

In [129]:
resume["Skills"]["Design"][-1]

'bootstrap'

In [133]:
resume["Skills"]['Data Science']['Data Visualization'][2]

'Plotly'

In [134]:
resume["Skills"]['Data Science']['Data Visualization'][-2]

'Plotly'

In [135]:
## dictionary continue