In [1]:
l = [
    ['simran','ayushi','ayush','nikhil'], #name
    [40,30,35,45], #science
    [49,30,40,36], #maths
    [30,25,35,30], #english
]
# take the name as input of student
# calculate the percentage for the student given as input 
# print the details i.e marks of student in each subject and percentagge
# eg --> input --> simran
# science --> 40, maths --> 49, eng --> 30, per = ((science+maths+eng)/150) * 100 
# print the information you got

In [2]:
name = input("\n Enter your name : ")

 Enter your name : simran

In [3]:
name

'simran'

In [5]:
l[0].index(name)

0

In [6]:
l.index("simran")

ValueError: 'simran' is not in list

In [7]:
l[0].index("simran")

0

In [8]:
l[1]

[40, 30, 35, 45]

In [9]:
l[1][0]

40

In [10]:
l[2][0]

49

In [11]:
l[3][0]

30

In [21]:
name = input("\n Enter your name : ").lower().strip()
i = l[0].index(name)
m = l[2][i]
s = l[1][i]
e = l[3][i]
per = round(((m + s + e)/150)*100,2)
print("DETAILS".center(80,"*"))
print(f" Name : {name}".center(80))
print(f" Science : {s}".center(80))
print(f" Maths : {m}".center(80))
print(f" English : {e}".center(80))
print(f" Percentage : {per}%".center(80))
print("*"*80)

 Enter your name : ayush
************************************DETAILS*************************************
                                  Name : ayush
                                  Science : 35
                                   Maths : 40
                                  English : 35
                               Percentage : 73.33%
********************************************************************************

In [18]:
round(45.67887665432,2)

45.68

In [23]:
a = 30

In [24]:
s = a + 10

In [25]:
s

40

In [26]:
d = {"name":"simran","subject":"python"}

In [27]:
d  + {"key":"value"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [28]:
d*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [29]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [30]:
a = dir(d)
print(a)

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [31]:
type(a)

list

In [32]:
a[-1:-12:-1]

['values',
 'update',
 'setdefault',
 'popitem',
 'pop',
 'keys',
 'items',
 'get',
 'fromkeys',
 'copy',
 'clear']

In [33]:
i = a.index("clear")

In [34]:
i

29

In [35]:
a[29:]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [36]:
a[i:]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [37]:
d

{'name': 'simran', 'subject': 'python'}

In [38]:
weather = {"temp":25,"city":"jaipur","state":"rajasthan","country":"India","humidity":20,"desc":"cloudy"}

In [39]:
weather.keys()

dict_keys(['temp', 'city', 'state', 'country', 'humidity', 'desc'])

In [40]:
weather.keys()[-1]

TypeError: 'dict_keys' object is not subscriptable

In [43]:
list(weather.keys())

['temp', 'city', 'state', 'country', 'humidity', 'desc']

In [44]:
list(weather.keys())[-1]

'desc'

In [45]:
weather.values()

dict_values([25, 'jaipur', 'rajasthan', 'India', 20, 'cloudy'])

In [46]:
weather.values()[-1]

TypeError: 'dict_values' object is not subscriptable

In [48]:
tuple(weather.values())[-2]

20

In [49]:
weather.items()
#iterable_object --> (key,value)

dict_items([('temp', 25), ('city', 'jaipur'), ('state', 'rajasthan'), ('country', 'India'), ('humidity', 20), ('desc', 'cloudy')])

In [51]:
list(weather.items())[2]

('state', 'rajasthan')

In [52]:
print(*list(weather.items()))

('temp', 25) ('city', 'jaipur') ('state', 'rajasthan') ('country', 'India') ('humidity', 20) ('desc', 'cloudy')

In [53]:
weather['temp']

25

In [54]:
weather['desc']

'cloudy'

In [55]:
weather

{'temp': 25,
 'city': 'jaipur',
 'state': 'rajasthan',
 'country': 'India',
 'humidity': 20,
 'desc': 'cloudy'}

In [56]:
weather['min_temp']  #gives error

KeyError: 'min_temp'

In [58]:
l[6]

IndexError: list index out of range

In [59]:
weather.get("temp")

25

In [60]:
weather.get("humidity")

20

In [61]:
weather.get("state")

'rajasthan'

In [63]:
weather

{'temp': 25,
 'city': 'jaipur',
 'state': 'rajasthan',
 'country': 'India',
 'humidity': 20,
 'desc': 'cloudy'}

In [62]:
weather.get("min_temp")  #no error using get

In [64]:
help(weather.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

In [65]:
weather.get("abcd")  #return None

In [66]:
weather.get("Max_temp","No such key")

'No such key'

In [67]:
weather

{'temp': 25,
 'city': 'jaipur',
 'state': 'rajasthan',
 'country': 'India',
 'humidity': 20,
 'desc': 'cloudy'}

In [68]:
#I want that if there is any key for min_temp then it should return the value otherwise it should make that key and 
#set value DEFAULT

In [69]:
if weather.get("min_temp"):
    print("Value : ",weather['min_temp'])
else:
    weather['min_temp'] = "DEFAULT"

In [70]:
weather

{'temp': 25,
 'city': 'jaipur',
 'state': 'rajasthan',
 'country': 'India',
 'humidity': 20,
 'desc': 'cloudy',
 'min_temp': 'DEFAULT'}

In [71]:
if weather["min_temp"]:
    print("Value : ",weather['min_temp'])
else:
    weather['min_temp'] = "DEFAULT"

Value :  DEFAULT

In [72]:
if weather["max_temp"]:  #work with error
    print("Value : ",weather['max_temp'])
else:
    weather['max_temp'] = "DEFAULT"

KeyError: 'max_temp'

In [73]:
if weather.get("min_temp"):  #working without error using get
    print("Value : ",weather['min_temp'])
else:
    weather['min_temp'] = "DEFAULT"

Value :  DEFAULT

In [74]:
weather

{'temp': 25,
 'city': 'jaipur',
 'state': 'rajasthan',
 'country': 'India',
 'humidity': 20,
 'desc': 'cloudy',
 'min_temp': 'DEFAULT'}

In [75]:
weather["abcd"]
#if the key is present then it will give its value otherwise it gives error

KeyError: 'abcd'

In [76]:
weather.get("abcd","No such key")
#if the key is present then it will return its value otherwise it will return No such key
# it will not give error

'No such key'

In [77]:
weather.get("temp","No such key")

25

In [78]:
d

{'name': 'simran', 'subject': 'python'}

In [79]:
d1 = {}
d1.fromkeys(["Name","Subject","Age","Rollno"])

{'Name': None, 'Subject': None, 'Age': None, 'Rollno': None}

In [80]:
d1

{}

In [81]:
d1 = {}
d1 = d1.fromkeys(["Name","Subject","Age","Rollno"])

In [82]:
d1

{'Name': None, 'Subject': None, 'Age': None, 'Rollno': None}

In [83]:
name = input("\n Enter your name : ")
sub = input("\n Enter your subject : ")
age = input("\n Enter your age : ")
rollno = input("\n Enter your rollno : ")
d1['Name'] = name
d1['Subject'] = sub
d1['Age'] = age
d1['Rollno'] = rollno

 Enter your name : Daivat

 Enter your subject : Python

 Enter your age : 22

 Enter your rollno : 30

In [84]:
d1

{'Name': 'Daivat', 'Subject': 'Python', 'Age': '22', 'Rollno': '30'}

In [85]:
d1 = {}
d1 = d1.fromkeys(["Name","Subject","Age","Rollno"],"DEFAULT")

In [86]:
d1

{'Name': 'DEFAULT',
 'Subject': 'DEFAULT',
 'Age': 'DEFAULT',
 'Rollno': 'DEFAULT'}

In [87]:
name = input("\n Enter your name : ")
sub = input("\n Enter your subject : ")
age = input("\n Enter your age : ")
rollno = input("\n Enter your rollno : ")
d1['Name'] = name
d1['Subject'] = sub
d1['Age'] = age
d1['Rollno'] = rollno

 Enter your name : akshay

 Enter your subject : Cloud

 Enter your age : 23

 Enter your rollno : 40

In [88]:
d1

{'Name': 'akshay', 'Subject': 'Cloud', 'Age': '23', 'Rollno': '40'}

In [89]:
data = {}
data = data.fromkeys(["Name","Maths","Science","English"],[])

In [90]:
data

{'Name': [], 'Maths': [], 'Science': [], 'English': []}

In [91]:
data['Name']

[]

In [92]:
name = input("\n Enter your name : ")
m = input("\n Enter your maths marks : ")
s = input("\n Enter your science marks : ")
e = input("\n Enter your english marks : ")
data['Name'].append(name)
data['Maths'].append(m)
data['Science'].append(s)
data['English'].append(e)
print(data)

 Enter your name : daivat

 Enter your maths marks : 45

 Enter your science marks : 56

 Enter your english marks : 78
{'Name': ['daivat', '45', '56', '78'], 'Maths': ['daivat', '45', '56', '78'], 'Science': ['daivat', '45', '56', '78'], 'English': ['daivat', '45', '56', '78']}

In [93]:
data

{'Name': ['daivat', '45', '56', '78'],
 'Maths': ['daivat', '45', '56', '78'],
 'Science': ['daivat', '45', '56', '78'],
 'English': ['daivat', '45', '56', '78']}

In [94]:
data = {}
data = data.fromkeys(["Name","Maths","Science","English"],[])

In [95]:
data

{'Name': [], 'Maths': [], 'Science': [], 'English': []}

In [96]:
data['Name']

[]

In [97]:
data['Maths']

[]

In [98]:
data['Science']

[]

In [99]:
data['English']

[]

In [100]:
id(data['Name'])

1897165242632

In [101]:
id(data['Maths'])

1897165242632

In [102]:
id(data['English'])

1897165242632

In [103]:
id(data['Science'])

1897165242632

In [104]:
data['Name'].append("simran")

In [105]:
data["Name"]

['simran']

In [106]:
data['Maths']

['simran']

In [107]:
data['English']

['simran']

In [108]:
data['Science']

['simran']

In [109]:
data['English'].append(90)

In [110]:
data["Name"]

['simran', 90]

In [111]:
data['Maths']

['simran', 90]

In [112]:
data['Science']

['simran', 90]

In [113]:
#bcz the id of each list is same so it insert the element and show into every list

In [114]:
data = {}
data['Name'] = []
data['English'] = []
data['Maths'] = []
data["Science"] = []

In [115]:
data

{'Name': [], 'English': [], 'Maths': [], 'Science': []}

In [116]:
id(data['Name'])

1897167751624

In [117]:
id(data['English'])

1897166383304

In [118]:
id(data["Maths"])

1897167813704

In [119]:
id(data['Science'])

1897167876680

In [120]:
data['Name'].append(input("Enter your name : "))
data['English'].append(input("\n Enter your english marks : "))
data['Maths'].append(input("\n ENter your maths marks : "))

Enter your name : simran

 Enter your english marks : 56

 ENter your maths marks : 67

In [121]:
data

{'Name': ['simran'], 'English': ['56'], 'Maths': ['67'], 'Science': []}

In [122]:
print(dir(data))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [123]:
d

{'name': 'simran', 'subject': 'python'}

In [124]:
d.clear()

In [125]:
d

{}

In [126]:
weather

{'temp': 25,
 'city': 'jaipur',
 'state': 'rajasthan',
 'country': 'India',
 'humidity': 20,
 'desc': 'cloudy',
 'min_temp': 'DEFAULT'}

In [127]:
weather.pop()
#weather.pop(key)  so it will delete the (key,value) pair from dictionary

TypeError: pop expected at least 1 arguments, got 0

In [128]:
weather.pop("min_temp")
#it will delete and return the value of that key

'DEFAULT'

In [129]:
weather

{'temp': 25,
 'city': 'jaipur',
 'state': 'rajasthan',
 'country': 'India',
 'humidity': 20,
 'desc': 'cloudy'}

In [130]:
weather.pop("desc")

'cloudy'

In [131]:
weather

{'temp': 25,
 'city': 'jaipur',
 'state': 'rajasthan',
 'country': 'India',
 'humidity': 20}

In [132]:
weather.popitem()
#return (key,value)

('humidity', 20)

In [133]:
help(weather.popitem)

Help on built-in function popitem:

popitem(...) method of builtins.dict instance
    D.popitem() -> (k, v), remove and return some (key, value) pair as a
    2-tuple; but raise KeyError if D is empty.

In [134]:
d = {}
for i in range(65,85):  #i --> from 65 to 84
    d[chr(i)] = i

In [135]:
d

{'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84}

In [136]:
ord(" ")

32

In [137]:
ord("a")

97

In [138]:
ord("z")

122

In [139]:
chr(122)

'z'

In [140]:
chr(34)

'"'

In [141]:
chr(65)

'A'

In [142]:
d

{'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84}

In [143]:
for i in range(6):
    print(d.popitem())

('T', 84)
('S', 83)
('R', 82)
('Q', 81)
('P', 80)
('O', 79)

In [144]:
d

{'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78}

In [145]:
for i in range(6):
    print(d.popitem())

('N', 78)
('M', 77)
('L', 76)
('K', 75)
('J', 74)
('I', 73)

In [146]:
weather

{'temp': 25, 'city': 'jaipur', 'state': 'rajasthan', 'country': 'India'}

##### setdefault --> it will set the default value for the key which is not in dictionary

In [147]:
weather.setdefault("temp","default")
#it will not set the value for temp key bcz the temp key already exist

25

In [148]:
weather.setdefault("desc","default")
#in this case it will make a new key desc and set its default value as default

'default'

In [149]:
weather

{'temp': 25,
 'city': 'jaipur',
 'state': 'rajasthan',
 'country': 'India',
 'desc': 'default'}

In [150]:
weather['desc']

'default'

In [151]:
weather['desc'] = "Cloudy"

In [152]:
weather

{'temp': 25,
 'city': 'jaipur',
 'state': 'rajasthan',
 'country': 'India',
 'desc': 'Cloudy'}

In [153]:
d1 = {"name":"simran","phno":"7742529090","city":"jaipur"}
d2 = {"subject":"python","rollno":40,"present":"80%"}

In [154]:
d1

{'name': 'simran', 'phno': '7742529090', 'city': 'jaipur'}

In [155]:
d2

{'subject': 'python', 'rollno': 40, 'present': '80%'}

In [156]:
d1.update(d2)

In [157]:
d1

{'name': 'simran',
 'phno': '7742529090',
 'city': 'jaipur',
 'subject': 'python',
 'rollno': 40,
 'present': '80%'}

In [158]:
d1 = {"name":"simran","phno":"7742529090","city":"jaipur"}
d2 = {"subject":"python","rollno":40,"present":"80%","name":"ayushi"}

In [159]:
d1

{'name': 'simran', 'phno': '7742529090', 'city': 'jaipur'}

In [160]:
d2

{'subject': 'python', 'rollno': 40, 'present': '80%', 'name': 'ayushi'}

In [161]:
d1.update(d2)

In [162]:
d1

{'name': 'ayushi',
 'phno': '7742529090',
 'city': 'jaipur',
 'subject': 'python',
 'rollno': 40,
 'present': '80%'}

In [163]:
d1.update(city="patna")
#d1.update(key=value)

In [164]:
d1

{'name': 'ayushi',
 'phno': '7742529090',
 'city': 'patna',
 'subject': 'python',
 'rollno': 40,
 'present': '80%'}

In [165]:
d1.update(phno="987654320",rollno=40)

In [166]:
d1

{'name': 'ayushi',
 'phno': '987654320',
 'city': 'patna',
 'subject': 'python',
 'rollno': 40,
 'present': '80%'}

In [167]:
### sets