In [1]:
d = {"name":"simran","subject":"python"}

In [2]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [3]:
a = dir(d)

In [4]:
a[-1:-12:-1]

['values',
 'update',
 'setdefault',
 'popitem',
 'pop',
 'keys',
 'items',
 'get',
 'fromkeys',
 'copy',
 'clear']

In [5]:
a.index("clear")

29

In [6]:
i = a.index("clear")
a[i:]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

### Sets
    
    Collection of object
    Bcz there are many functions which you  can perform only with sets
    
    identification --> {}
    
    s = {1,2,3,4,5}
    
    1. non sequential
    2. unordered
    3. Unique elements
    4. mutable
    5. It only contain immutable data type

In [7]:
s = {}

In [8]:
type(s)

dict

In [9]:
s = {1,2,3,4,5}

In [10]:
type(s)

set

In [11]:
id(s)

1580011963560

In [12]:
s = {1,2,3,4,[1,2,3,4,5]}

TypeError: unhashable type: 'list'

In [13]:
s = {1,2,3,4,(1,2,3,4)}

In [14]:
s

{(1, 2, 3, 4), 1, 2, 3, 4}

In [15]:
type(s)

set

In [16]:
s = {"hello",'hi',12,3,4,512}

In [17]:
s #unordered

{12, 3, 4, 512, 'hello', 'hi'}

In [18]:
### in sets there is no index and no keys so this is the drawback of sets that we cannot access its elements

In [19]:
s = {1,2,3,4,1,2,10,23,12,4,12}

In [20]:
s

{1, 2, 3, 4, 10, 12, 23}

In [21]:
l = [1,2,3,10,23,12,13,1,2,12]

In [22]:
l

[1, 2, 3, 10, 23, 12, 13, 1, 2, 12]

In [23]:
set(l)

{1, 2, 3, 10, 12, 13, 23}

In [24]:
names = ['simran','ayushi','ayush','simran','ajay','mihir','aman','aman']

In [25]:
set(names)

{'ajay', 'aman', 'ayush', 'ayushi', 'mihir', 'simran'}

In [26]:
print(dir(s))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [27]:
s1 = {1,2,3,7,10,23}
s2 = {12,34,56,7,1,90}

In [28]:
s1

{1, 2, 3, 7, 10, 23}

In [29]:
s2

{1, 7, 12, 34, 56, 90}

#### Set Operations
    
    1. Union
    2. Intersection
    3. Difference
    4. Symmetric Difference

##### union
    set_object.union(object)
    
        We will have the elements of both the object

In [30]:
s1.union(s2)

{1, 2, 3, 7, 10, 12, 23, 34, 56, 90}

In [31]:
l

[1, 2, 3, 10, 23, 12, 13, 1, 2, 12]

In [32]:
s1.union(l)

{1, 2, 3, 7, 10, 12, 13, 23}

##### Intersection
    
    set_object.intersection(object)
    
        It will return common elements from both objects

In [33]:
s1.intersection(s2)

{1, 7}

In [35]:
s1

{1, 2, 3, 7, 10, 23}

In [36]:
l

[1, 2, 3, 10, 23, 12, 13, 1, 2, 12]

In [37]:
s1.intersection(l)

{1, 2, 3, 10, 23}

##### Difference

    s1.difference(s2) = s1 - s2
    
    It will return the elements which are not present in set2 
    
    s1 - (s1 intersection s2)

In [38]:
s1 - s2
### common = {1,7} = {1,2,3,7,10,23} - {1,7}

{2, 3, 10, 23}

In [39]:
s1

{1, 2, 3, 7, 10, 23}

In [40]:
s2

{1, 7, 12, 34, 56, 90}

In [41]:
s2 - s1

{12, 34, 56, 90}

In [42]:
s1.difference(s2)

{2, 3, 10, 23}

In [43]:
s2.difference(s1)

{12, 34, 56, 90}

##### Symmetric_Difference

    set_object.symmetric_difference(object)
    
    
        (set_object union object) - (set_object intersection object)

In [44]:
s1.symmetric_difference(s2)

{2, 3, 10, 12, 23, 34, 56, 90}

In [45]:
s1

{1, 2, 3, 7, 10, 23}

In [46]:
s2

{1, 7, 12, 34, 56, 90}

In [47]:
s1.intersection(s2)

{1, 7}

In [48]:
s2

{1, 7, 12, 34, 56, 90}

In [49]:
l

[1, 2, 3, 10, 23, 12, 13, 1, 2, 12]

In [50]:
s2.intersection(l)

{1, 12}

In [51]:
s2.symmetric_difference(l)

{2, 3, 7, 10, 13, 23, 34, 56, 90}

In [56]:
basket = {"ajay","simran","ayushi","mihir","haresh","akshay"}
football = {"aman","akshay","mihir","manish","nikhil","ujwal","ajay"}
cricket = {"haresh","ajay","manisha","amit","aman","shruti"}
badminton = {"simran","daivat","anisha","anushka","amit","yuvraj","yash","ajay"}

    1. Tell me the name of students play basket and cricket
    2. tell me the name of students not playing cricket but playing football
    3. Name of students playing all four games
    4. Name of students playing cricket but not basketball
    5. Name of students playing basket, cricket, and badminton
    6. Name of students playing basket,football but not cricket
    7. Name of students playing football but not cricket

In [53]:
#1
basket.intersection(cricket)

{'ajay', 'haresh'}

In [54]:
#2.
football.difference(cricket)

{'akshay', 'manish', 'mihir', 'nikhil', 'ujwal'}

In [57]:
#3.
football.intersection(cricket,basket,badminton)

{'ajay'}

In [59]:
#4.
cricket.difference(basket)  #exlude basket

{'aman', 'amit', 'manisha', 'shruti'}

In [60]:
basket.difference(cricket)  #exclude cricket

{'akshay', 'ayushi', 'mihir', 'simran'}

In [61]:
#5.
basket.intersection(cricket,badminton)

{'ajay'}

In [63]:
#6.
basket.intersection(football) - cricket

{'akshay', 'mihir'}

In [64]:
#7.
football.difference(cricket)

{'akshay', 'manish', 'mihir', 'nikhil', 'ujwal'}

In [65]:
s1

{1, 2, 3, 7, 10, 23}

In [66]:
s1.add("simran")

In [67]:
s1

{1, 10, 2, 23, 3, 7, 'simran'}

In [68]:
s1.add(12)

In [69]:
s1

{1, 10, 12, 2, 23, 3, 7, 'simran'}

In [70]:
s1.add(345)

In [71]:
s1

{1, 10, 12, 2, 23, 3, 345, 7, 'simran'}

In [72]:
s1.intersection(s2)

{1, 7, 12}

    s1.itersection_update(s2)
    
    
    s1 = s1.intersection(s2)

In [73]:
s1.intersection(s2)

{1, 7, 12}

In [74]:
s1

{1, 10, 12, 2, 23, 3, 345, 7, 'simran'}

In [75]:
s2

{1, 7, 12, 34, 56, 90}

In [76]:
s1.intersection_update(s2)

In [77]:
s1

{1, 7, 12}

In [78]:
s2.intersection_update(s1)

In [79]:
s2

{1, 7, 12}

In [80]:
s1 - s2

set()

In [81]:
s1.add(90)

In [82]:
s1

{1, 7, 12, 90}

In [83]:
s2.add(45)

In [84]:
s2.add(67)

In [85]:
s2

{1, 7, 12, 45, 67}

In [86]:
s1

{1, 7, 12, 90}

In [87]:
s2 - s1 
#{45,67}

{45, 67}

In [88]:
s2.difference(s1)

{45, 67}

In [89]:
s2

{1, 7, 12, 45, 67}

In [90]:
s1

{1, 7, 12, 90}

In [91]:
s2.difference_update(s1)
# s2 = s2.difference(s1)

In [92]:
s2

{45, 67}

In [93]:
s2.add(7)

In [94]:
s2

{7, 45, 67}

In [95]:
s1

{1, 7, 12, 90}

In [96]:
s1.symmetric_difference(s2)

{1, 12, 45, 67, 90}

In [97]:
s1.symmetric_difference_update(s2)
#s1 = s1.symmertic_difference(s2)

In [98]:
s1

{1, 12, 45, 67, 90}

In [99]:
s2

{7, 45, 67}

In [100]:
print(dir(s2))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [101]:
football

{'ajay', 'akshay', 'aman', 'manish', 'mihir', 'nikhil', 'ujwal'}

In [102]:
football.clear()

In [103]:
football

set()

In [104]:
s1

{1, 12, 45, 67, 90}

In [105]:
s2

{7, 45, 67}

In [106]:
s1.discard(s2)

In [107]:
s1

{1, 12, 45, 67, 90}

In [108]:
s2

{7, 45, 67}

In [109]:
s1.remove(12)

In [110]:
s1

{1, 45, 67, 90}

In [111]:
s1.remove(67)

In [112]:
s1

{1, 45, 90}

In [113]:
s1.remove(80)

KeyError: 80

In [114]:
s1.discard(45)

In [115]:
s1

{1, 90}

In [116]:
s1.discard(80)

In [117]:
help(s1.discard)

Help on built-in function discard:

discard(...) method of builtins.set instance
    Remove an element from a set if it is a member.

    If the element is not a member, do nothing.

In [118]:
s1

{1, 90}

In [119]:
s2

{7, 45, 67}

In [120]:
### disjoint --> when there is no common elements

In [121]:
s1.isdisjoint(s2)

True

In [122]:
s1.add(7)

In [123]:
s1

{1, 7, 90}

In [124]:
s2

{7, 45, 67}

In [125]:
s1.isdisjoint(s2)

False

In [126]:
s2.add(90)

In [127]:
s2

{7, 45, 67, 90}

In [128]:
s1

{1, 7, 90}

In [130]:
s2.add(1)

In [131]:
s2

{1, 7, 45, 67, 90}

In [132]:
s1.issubset(s2)

True

In [133]:
s2.issubset(s1)

False

In [134]:
s2.issuperset(s1)

True

In [135]:
s1.issuperset(s2)

False

In [136]:
s1

{1, 7, 90}

    subsets of s1
    
    {1}, {7}, {90}, {1,7}, {1,90}, {7,90}, {1,7,90}

In [137]:
s1.issuperset({1})

True

In [138]:
s1

{1, 7, 90}

In [139]:
s1.pop()

1

In [140]:
s1

{7, 90}

In [141]:
basket

{'ajay', 'akshay', 'ayushi', 'haresh', 'mihir', 'simran'}

In [142]:
basket.pop()

'ayushi'

In [143]:
basket.pop()

'akshay'

In [144]:
basket

{'ajay', 'haresh', 'mihir', 'simran'}

In [145]:
basket.pop()

'simran'

In [146]:
s2

{1, 7, 45, 67, 90}

In [147]:
s2.update(s1)

In [148]:
s2

{1, 7, 45, 67, 90}

In [149]:
s1

{7, 90}

In [150]:
s1.update(s2)

In [151]:
s1

{1, 7, 45, 67, 90}

In [152]:
s3 = {90,"hello","hi","bye"}

In [153]:
s3

{90, 'bye', 'hello', 'hi'}

In [154]:
s1

{1, 7, 45, 67, 90}

In [155]:
s1.update(s3)

In [156]:
s1

{1, 45, 67, 7, 90, 'bye', 'hello', 'hi'}

In [157]:
# frozen set, assignments discussion