    For connectivity a module is required which will act as an interface between the python file and 
    database server
    
    
    mysql --> pymysql
    sqlite3 --> sqlite3

In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\anaconda\lib\site-packages (0.9.3)

    pip --> pypi.org
    
        pypi --> python package index

In [2]:
import pymysql as sql

In [3]:
conn = sql.connect(host="localhost", port=3306, user="root", password="")

In [4]:
conn

In [5]:
cursor = conn.cursor()

In [6]:
cursor

In [7]:
cursor.execute("select * from student")

InternalError: (1046, 'No database selected')

In [8]:
cursor.execute("select * from batch11am.student")

9

In [9]:
cursor.fetchall()

((1, 'simran', 'grover', 20, 'AWS'),
 (2, 'Sahil', 'Grover', 22, 'Python'),
 (3, 'Ajay', 'Gupta', 22, 'Cloud'),
 (4, 'Vivek', 'Uniyal', 21, 'AWS'),
 (5, 'Mihir', 'Mehta', 23, 'Cloud'),
 (6, 'Haresh', 'Parmar', 23, 'Python'),
 (7, 'Daivat', 'Shah', 19, 'Python'),
 (8, 'Aman', 'Gupta', 22, 'Linux'),
 (9, 'Akshay', 'Mehta', 22, 'AWS'))

In [10]:
cursor.execute("use batch11am;")

0

In [11]:
cursor.execute("select * from student;")

9

In [12]:
cursor.fetchall()

((1, 'simran', 'grover', 20, 'AWS'),
 (2, 'Sahil', 'Grover', 22, 'Python'),
 (3, 'Ajay', 'Gupta', 22, 'Cloud'),
 (4, 'Vivek', 'Uniyal', 21, 'AWS'),
 (5, 'Mihir', 'Mehta', 23, 'Cloud'),
 (6, 'Haresh', 'Parmar', 23, 'Python'),
 (7, 'Daivat', 'Shah', 19, 'Python'),
 (8, 'Aman', 'Gupta', 22, 'Linux'),
 (9, 'Akshay', 'Mehta', 22, 'AWS'))

In [14]:
conn.close()

In [13]:
### insert data into student

In [17]:
conn.cursor().execute("select * from student")

InterfaceError: (0, '')

In [26]:
%%writefile insertdata.py

"""
    This module is for inserting data into student table of batch11am database
"""
import pymysql as sql
CONN = sql.connect(host="localhost", port=3306, user="root", password="", database="batch11am")
CURSOR = CONN.cursor()
while input("\n Press any key to continue : "):
    FNAME = input("\n FirstName : ")
    LNAME = input("\n LastName : ")
    SUBJECT = input("\n Subject : ")
    AGE = int(input("\n Age : "))
    CMD = f"insert into student(fname, lname, subject, age) values('{FNAME}', '{LNAME}', '{SUBJECT}', {AGE})"
    CURSOR.execute(CMD)
    CONN.commit()  # for storing data permanently
    print("\n Data Inserted Successfuly")
print("\n Thanks for using our service....")
CONN.close()

Overwriting insertdata.py

    PEP --> Python Enhancement Proposal
    
    It consists of rules which should be followed while writing a python scipt

In [29]:
%%writefile fetchdata.py

"""
    This module is for fetching data from student table
"""
import pymysql as sql
CONN = sql.connect(host="localhost", port=3306, user="root", password="", database="batch11am")
CURSOR = CONN.cursor()
CMD = "select * from student"
CURSOR.execute(CMD)
DATA = CURSOR.fetchall()
for row in DATA:
    print(f"\n FirstName : ", row[0])
    print(f"\n LastName : ", row[1])
    print(f"\n Subject : ", row[2])
    print(f"\n Age : ", row[3])
    print("_"*80)

Overwriting fetchdata.py

    1. Student        2. Fees        3. Address
    
    1. Student
        a. Insert
        b. Delete
            ask id for which it wants to delete data
        c. Select
            1. all data
            2. of particular id
                ask id
        d. Update
            a. which column to update
            b. new value for that column
            c. which id
            
            update student subject=aws where id=4
    2. Fees and 3. Address
        Same as of student 
        just show all the sid for which the update is possible
        
        a. insert
        b. select
        c. update