In [11]:
import pymysql as sql

def connectivity():
    db = sql.connect(host="localhost", port=3306, user="root", password="", database="batch11am")
    cursor = db.cursor()
    return db, cursor

def insert_stu(db, cursor):
    while input("\n Press any key to continue : "):
        FNAME = input("\n FirstName : ")
        LNAME = input("\n LastName : ")
        SUBJECT = input("\n Subject : ")
        AGE = int(input("\n Age : "))
        CMD = f"insert into student(fname, lname, subject, age) values('{FNAME}', '{LNAME}', '{SUBJECT}', {AGE})"
        cursor.execute(CMD)
        db.commit()  # for storing data permanently
        print("\n Data Inserted Successfuly")
        
    print("\n Thanks for using our service....")
    
def select(table_name, cursor):
    cmd = f"select * from {table_name}"
    cursor.execute(cmd)
    data = cursor.fetchall() # ((1, 2, 3), (2, 3, 4))
    for row in data:
        for col in row:
            print(col, end="     |     ")
        print()
        print("_"*80)
        
def show_ids(cursor):
    cmd = "select id from student"
    cursor.execute(cmd)
    data = cursor.fetchall() # ((1, ), (2, ), (3, ), (4, ), (5, ), (6, )) 
    for row in data:
        print(row[0], end=", ")

def delete_stu(db, cursor):
    """
        This function will delete the entry from student table based on id
        delete from student where id = 1    
    """
    show_ids(cursor)
    print("\n Choose any id from above ids")
    ids = int(input("\n ID which you want to delete : "))
    cmd = f"delete from student where id = {ids}"
    cursor.execute(cmd)
    db.commit()
    print("\n Successfully deleted the detail of that student")

    
def update_stu(db, cursor):
    """
        It will update the student details
        update student set subject=python where id=123
    """
    print("\n Column Present are : subject, age, fname and lname ")
    columnname = input("\n Enter any column name from above which want to update").strip().lower()
    value = input("\n Enter new value for that column.....")
    show_ids(cursor)
    ids = int(input("\n Choose any id from above : "))
    if columnname == "age": 
        cmd = f"update student set {columnname}={value} where id={ids}"
    else:
        cmd = f"update student set {columnname}='{value}' where id={ids}"
    cursor.execute(cmd)
    db.commit()
    print(f"\n Successfully Updated the column {columnname}")
    
if __name__ == "__main__":
    while True:
        print("1. Student\n2. Fees\n3. Address\n4. Exit")
        ch = int(input("\n Choose Any Option from above : "))
        db, cursor = connectivity()
        if ch == 1:
            print("\n WELCOME IN STUDENT TABLE")
            while True:
                opt = int(input("\n1. Insert\n2. Delete\n3. Select\n4. Update\n5. Exit"))
                if opt == 1:
                    insert_stu(db, cursor)
                elif opt == 2:
                    delete_stu(db, cursor)
                elif opt == 3:
                    select("student", cursor)
                elif opt == 4:
                    update_stu(db, cursor)
                elif opt == 5:
                    print("\n THANKYOU")
                    db.close()
                    break
        elif ch == 2:
            pass
        elif ch == 3:
            pass
        elif ch == 4:
            print("\n ThankYou for using our service")
            break
        else:
            print("\n Invalid Choice.....")

1. Student
2. Fees
3. Address
4. Exit

 Choose Any Option from above : 1

 WELCOME IN STUDENT TABLE

1. Insert
2. Delete
3. Select
4. Update
5. Exit4

 Column Present are : subject, age, fname and lname

 Enter any column name from above which want to updateage

 Enter new value for that column.....23
1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12,
 Choose any id from above : 7

 Successfully Updated the column age

1. Insert
2. Delete
3. Select
4. Update
5. Exit3
1     |     simran     |     grover     |     20     |     AWS     |
________________________________________________________________________________
2     |     Sahil     |     Grover     |     22     |     Python     |
________________________________________________________________________________
3     |     Ajay     |     Gupta     |     22     |     Cloud     |
________________________________________________________________________________
4     |     Vivek     |     Uniyal     |     21     |     AWS     |
________________________________________________________________________________
5     |     Mihir     |     Mehta     |     23     |     Cloud     |
________________________________________________________________________________
6     |     Haresh     |     Parmar     |     23     |     Python     |
________________________________________________________________________________
7     |     Daivat     |     Shah     |     23     |     Python     |
________________________________________________________________________________
8     |     Aman     |     Gupta     |     22     |     Linux     |
________________________________________________________________________________
9     |     Akshay     |     Mehta     |     22     |     AWS     |
________________________________________________________________________________
11     |     Sonia     |     Mehra     |     24     |     AWS     |
________________________________________________________________________________
12     |     Alia     |     Bhatt     |     23     |     Cloud     |
________________________________________________________________________________

1. Insert
2. Delete
3. Select
4. Update
5. Exit5

 THANKYOU
1. Student
2. Fees
3. Address
4. Exit

 Choose Any Option from above : 4

 ThankYou for using our service

### Sqlite

    It works in file no particular host or port is required to connect to sqlite database
    You can connect with sqlite database by the file name
    If the file does not exist it creates a new file and connect to it

    interface module is sqlite3

In [12]:
import sqlite3 as sql

In [13]:
ls

 Volume in drive C is Windows
 Volume Serial Number is E08D-DAD9

 Directory of C:\batches\online_batch\pythonbatch10_15am\Database

09-11-2020  12:35    <DIR>          .
09-11-2020  12:35    <DIR>          ..
09-11-2020  11:47    <DIR>          .ipynb_checkpoints
02-11-2020  12:45            98,742 2. ERD.ipynb
05-11-2020  12:35            25,078 4. Database_Connectivity.ipynb
09-11-2020  12:35             8,531 5. Database_Sqlite.ipynb
03-11-2020  11:45             6,475 Database_1.ipynb
04-11-2020  11:59             2,910 Database_3.ipynb
05-11-2020  12:28               475 fetchdata.py
05-11-2020  12:24               723 insertdata.py
02-11-2020  12:50            16,697 query1.txt
03-11-2020  12:59            33,831 query2.txt
04-11-2020  12:35            29,394 query3.txt
05-11-2020  11:42            15,500 query4.txt
              11 File(s)        238,356 bytes
               3 Dir(s)  30,710,632,448 bytes free

In [14]:
db = sql.connect("employee.db")  # by default search file in PWD and create file in PWD

In [15]:
ls

 Volume in drive C is Windows
 Volume Serial Number is E08D-DAD9

 Directory of C:\batches\online_batch\pythonbatch10_15am\Database

09-11-2020  12:39    <DIR>          .
09-11-2020  12:39    <DIR>          ..
09-11-2020  11:47    <DIR>          .ipynb_checkpoints
02-11-2020  12:45            98,742 2. ERD.ipynb
05-11-2020  12:35            25,078 4. Database_Connectivity.ipynb
09-11-2020  12:39            10,329 5. Database_Sqlite.ipynb
03-11-2020  11:45             6,475 Database_1.ipynb
04-11-2020  11:59             2,910 Database_3.ipynb
09-11-2020  12:39                 0 employee.db
05-11-2020  12:28               475 fetchdata.py
05-11-2020  12:24               723 insertdata.py
02-11-2020  12:50            16,697 query1.txt
03-11-2020  12:59            33,831 query2.txt
04-11-2020  12:35            29,394 query3.txt
05-11-2020  11:42            15,500 query4.txt
              12 File(s)        240,154 bytes
               3 Dir(s)  30,710,611,968 bytes free

In [16]:
# if the database is not in PWD specify the path at which your database is present

In [17]:
db.close()

In [18]:
db = sql.connect("employee.db")
cursor = db.cursor()
cmd = "create table employee(eid int(5), name varchar(100), address varchar(300))"
cursor.execute(cmd)

In [19]:
ls

 Volume in drive C is Windows
 Volume Serial Number is E08D-DAD9

 Directory of C:\batches\online_batch\pythonbatch10_15am\Database

09-11-2020  12:43    <DIR>          .
09-11-2020  12:43    <DIR>          ..
09-11-2020  11:47    <DIR>          .ipynb_checkpoints
02-11-2020  12:45            98,742 2. ERD.ipynb
05-11-2020  12:35            25,078 4. Database_Connectivity.ipynb
09-11-2020  12:43            12,433 5. Database_Sqlite.ipynb
03-11-2020  11:45             6,475 Database_1.ipynb
04-11-2020  11:59             2,910 Database_3.ipynb
09-11-2020  12:43             8,192 employee.db
05-11-2020  12:28               475 fetchdata.py
05-11-2020  12:24               723 insertdata.py
02-11-2020  12:50            16,697 query1.txt
03-11-2020  12:59            33,831 query2.txt
04-11-2020  12:35            29,394 query3.txt
05-11-2020  11:42            15,500 query4.txt
              12 File(s)        250,450 bytes
               3 Dir(s)  30,709,858,304 bytes free

In [20]:
cmd = "insert into employee values(1, 'simran', 'raja park')"
cursor.execute(cmd)
db.commit()

In [21]:
cmd = "select * from employee"
cursor.execute(cmd)
data = cursor.fetchall()
print(data)

[(1, 'simran', 'raja park')]

In [22]:
cmd = "insert into employee values(2, 'ajay', 'malviya nagar')"
cursor.execute(cmd)
db.commit()

In [23]:
cmd = "select * from employee"
cursor.execute(cmd)
data = cursor.fetchall()
print(data)

[(1, 'simran', 'raja park'), (2, 'ajay', 'malviya nagar')]

In [24]:
cmd = "select * from employee"
cursor.execute(cmd)
data = cursor.fetchone()
print(data)

(1, 'simran', 'raja park')