    grant commands on db_name.table_name to 'user_name'@'host'
    
    grant select, delete on batch11am.student to 'batch11am'@'localhost'
    
    grant all privileges on batch11am.* to 'batch11am'@'localhost';
    
    * --> batch11am all tables

    alter table tablename modify/add/drop column columnname values;
    
    update tablename set columnname=value where condition;

    Like
        It is used for patterns
        % --> zero or more than one character
        _ --> single character
   
    Regex
        It is also for patterns
        . --> single character
        +
        ?
        * --> 0 or more repetition
        {}
        []
        ()
        \w
        \W
        \b
        |
        ^ --> starting
        $
        
        etc

    JOINS
    
        s1 = {2, 3, 5, 6}
        s2 = {10, 12, 13, 14, 5, 6}
        
        s = {5, 6}
    
        1. Inner Join
            Intersection
        2. Outer Join
            Union
        3. Left Join
            student left join fees
            left table --> student
            right table --> fees
            
            All the data of left table but common data of right table
            
        4. Right Join
            student right join fees
            left table --> student
            right table --> fees
            
            all the data of fees table but common data of student table

    select * from table1 inner join table2 on (condition for join) where condition;