### Type Conversion

    Changing data from one type to another
    
    
    1. Implicit
    2. Explicit

In [2]:
str(123)

'123'

##### Implicit

    Conversion process is internally not done manually by user

In [3]:
a = 10
b = 20.567

In [4]:
a + b  #implicit

30.567

In [5]:
print(f"The number a is {a} and b is {b}")  #implicit

The number a is 10 and b is 20.567

##### Explicit

    Manually done by programmer
    
    
    1. int
    2. str
    3. list
    4. tuple
    5. dict
    6. set
    7. bool
    8. float
    9. complex

In [6]:
int("345678")

345678

In [7]:
int(23.456)

23

In [9]:
type(input("\n Enter any number : "))

 Enter any number : 123

str

In [10]:
int(input("\n Enter the number : "))

 Enter the number : 123

123

In [11]:
int("123.45")

ValueError: invalid literal for int() with base 10: '123.45'

In [12]:
int("1234")

1234

In [13]:
int("1234.56")

ValueError: invalid literal for int() with base 10: '1234.56'

In [14]:
float("12.345")

12.345

In [15]:
float(1234)

1234.0

In [16]:
int(123.45)

123

In [17]:
float("12345")

12345.0

In [18]:
complex(12,34)

(12+34j)

In [19]:
complex(12)

(12+0j)

In [20]:
complex(34,45)

(34+45j)

In [21]:
str(1234)

'1234'

In [22]:
str([1,2,3,4,5])

'[1, 2, 3, 4, 5]'

In [23]:
str((12,3,4,))

'(12, 3, 4)'

In [24]:
str(123.445)

'123.445'

    to convert it into list or tuple or set we have to give an iterable object

In [25]:
list(123)

TypeError: 'int' object is not iterable

In [26]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [27]:
tuple("python")

('p', 'y', 't', 'h', 'o', 'n')

In [28]:
set("python")

{'h', 'n', 'o', 'p', 't', 'y'}

In [29]:
set(123)

TypeError: 'int' object is not iterable

In [30]:
tuple(12.345)

TypeError: 'float' object is not iterable

In [32]:
tuple(12+45j)

TypeError: 'complex' object is not iterable

In [33]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [34]:
list({1,2,3,4})

[1, 2, 3, 4]

In [35]:
list({"key":"value","name":"simran"})  #by default keys

['key', 'name']

In [36]:
print(*{"key":"value","name":"simran"})

key name

In [38]:
list({"name":"simran","age":12,"subject":"python"}.values())

['simran', 12, 'python']

In [39]:
list({"name":"simran","age":12,"subject":"python"}.items())

[('name', 'simran'), ('age', 12), ('subject', 'python')]

In [40]:
list({"name":"simran","age":12,"subject":"python"}.keys())

['name', 'age', 'subject']

In [41]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [42]:
tuple({1,2,3})

(1, 2, 3)

In [43]:
d = {"name":"simran","age":12,"subject":"python"}

In [44]:
tuple(d)

('name', 'age', 'subject')

In [45]:
tuple(d.values())

('simran', 12, 'python')

In [46]:
tuple(d.items())

(('name', 'simran'), ('age', 12), ('subject', 'python'))

In [47]:
set("python")

{'h', 'n', 'o', 'p', 't', 'y'}

In [48]:
set([1,2,3,4])

{1, 2, 3, 4}

In [49]:
set((1,2,3,4))

{1, 2, 3, 4}

In [50]:
set(["hi","hello",10,12,13,"hi","hello"])

{10, 12, 13, 'hello', 'hi'}

In [51]:
set(d)

{'age', 'name', 'subject'}

In [52]:
set

set

In [53]:
set(d.values())

{12, 'python', 'simran'}

In [54]:
set(d.items())

{('age', 12), ('name', 'simran'), ('subject', 'python')}

In [55]:
d.items()

dict_items([('name', 'simran'), ('age', 12), ('subject', 'python')])

In [56]:
dict([('name', 'simran'), ('age', 12), ('subject', 'python')])

{'name': 'simran', 'age': 12, 'subject': 'python'}

In [57]:
dict("name","age","subject")

TypeError: dict expected at most 1 arguments, got 3

In [58]:
dict(["name","age","subject"])

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [59]:
dict([["name","simran"],["python","subject"]])

{'name': 'simran', 'python': 'subject'}

        dict(iterable_object1(iterable_object2))
        
        iterable_object2[[key,value],[key,value]]

In [61]:
dict((("key","value"),("name","simran")))

{'key': 'value', 'name': 'simran'}

        Every data in python have have True boolean value except for these
        
        1. []
        2. ()
        3. ""
        4. {}
        5. None
        6. 0
        7. False

In [62]:
bool([])

False

In [63]:
bool([1,2,3,4])

True

In [64]:
bool(0)

False

In [65]:
bool((1,2,3,4))

True

In [67]:
bool("simran")

True

In [68]:
bool("")

False

In [69]:
bool(1234)

True

In [70]:
bool(True)

True

In [71]:
bool(None)

False