In [1]:
s = "                hello world                 "

In [2]:
s.strip()
#by default space

'hello world'

In [3]:
s.lstrip()

'hello world                 '

In [4]:
s.rstrip()

'                hello world'

In [5]:
s = "****************hello world**********************"

In [6]:
s.strip()

'****************hello world**********************'

In [7]:
s.strip("*")

'hello world'

In [8]:
s.lstrip("*")

'hello world**********************'

In [9]:
s.rstrip("*")

'****************hello world'

In [10]:
s.strip("h")

'****************hello world**********************'

In [11]:
s = "oooooooooooooooohello worldooooooooo"

In [12]:
s.strip("o")

'hello world'

In [13]:
s1 = "oohello world"

In [14]:
s1.strip("o")

'hello world'

In [24]:
ch = input("Enter your choice (yes/no) : ").strip().lower()
if ch == "yes":
    print("\n WELCOME")
else:
    print("\n GETLOST")

Enter your choice (yes/no) :     YEs

 WELCOME

In [ ]:
" yes"

In [25]:
s = "hello welcome to python world"

In [26]:
s.split()  #by default split with space

['hello', 'welcome', 'to', 'python', 'world']

In [28]:
f = "data_type.ipynb"  #data_type --> filename, ext --> ipynb

In [29]:
f

'data_type.ipynb'

In [32]:
f.split(".")[1]

'ipynb'

In [33]:
s

'hello welcome to python world'

In [34]:
s.split("t")

['hello welcome ', 'o py', 'hon world']

In [35]:
s.split("o") #out???

['hell', ' welc', 'me t', ' pyth', 'n w', 'rld']

In [36]:
" ".join("python")   #" ".join(iterable_object) --> iterable_object --> which can be iterated or traversed
#"p y t h o n"

'p y t h o n'

In [37]:
"#".join("hello")

'h#e#l#l#o'

In [38]:
" ".join(123)
#number are not iterable

TypeError: can only join an iterable

In [39]:
"*".join("123")

'1*2*3'

In [40]:
s

'hello welcome to python world'

In [41]:
#i want to replace " " with *

In [43]:
l = s.split(" ")

In [44]:
l

['hello', 'welcome', 'to', 'python', 'world']

In [45]:
"*".join(l)
#hello*welcome*to*python*world

'hello*welcome*to*python*world'

In [47]:
l = "hello how are you".split()

In [48]:
l

['hello', 'how', 'are', 'you']

In [49]:
"$".join(l)

'hello$how$are$you'

In [50]:
"#".join("simran") #simran --> s,i,m,r,a,n

's#i#m#r#a#n'

### Formatting

In [51]:
print("hello")

hello

In [52]:
print("welcome")

welcome

In [53]:
print(l)

['hello', 'how', 'are', 'you']

In [54]:
print(1234)

1234

In [55]:
name = input("\n Enter your name : ")

 Enter your name : simran

In [56]:
print("hello")

hello

In [57]:
print(l)

['hello', 'how', 'are', 'you']

In [58]:
print(1,2,3,4,5,6,7)

1 2 3 4 5 6 7

In [59]:
print("hello","simran")

hello simran

In [62]:
name = input("\n Enter your name : ")
age = input("\n Enter your age : ")
print("Hello simran and her age is 10")

#in this case the values are fixed that is simran and 10

 Enter your name :ajay

 Enter your age :20
Hello simran and her age is 10

In [64]:
name = input("\n Enter your name : ")
age = input("\n Enter your age : ")
print("Hello",name,"and age is ",age)

 Enter your name :ajay

 Enter your age :20
Hello ajay and age is  20

In [66]:
#formatting is used to write every data type or variables in string
name = input("\n Enter your name : ")
age = input("\n Enter your age : ")
print("\n Hello {} and the student age is {}".format(name,age)) #format --> formatting

 Enter your name :simran

 Enter your age :10

 Hello simran and the student age is 10

In [67]:
#formatting is used to write every data type or variables in string
name = input("\n Enter your name : ")
subject = input("\n Enter your subject : ")
print("\n Hello {} and the student subject is {}".format(name,subject)) #format --> formatting

 Enter your name :ajay

 Enter your subject : python

 Hello ajay and the student subject is python

In [68]:
#formatting is used to write every data type or variables in string
name = input("\n Enter your name : ")
subject = input("\n Enter your subject : ")
print("\n Hello {} and the student subject is {}".format(subject,name)) #format --> formatting

 Enter your name :simran

 Enter your subject :python

 Hello python and the student subject is simran

In [69]:
type(l)

list

In [70]:
print("\n The list is {}".format(l))

 The list is ['hello', 'how', 'are', 'you']

In [71]:
#formatting is used to write every data type or variables in string
name = input("\n Enter your name : ")
subject = input("\n Enter your subject : ")
print("\n Hello {} and the student subject is {} and {} subject is very interesting".format(name,subject,subject))
#name index = 0, subject = 1, subject = 2

 Enter your name :simran

 Enter your subject :maths

 Hello simran and the student subject is maths and maths subject is very interesting

In [72]:
#formatting is used to write every data type or variables in string
name = input("\n Enter your name : ")
subject = input("\n Enter your subject : ")
print("\n Hello {0} and the student subject is {1} and {1} subject is very interesting".format(name,subject))
#name index = 0, subject = 1, subject = 2

 Enter your name :ajaya

 Enter your subject :python

 Hello ajaya and the student subject is python and python subject is very interesting

In [73]:
#formatting is used to write every data type or variables in string
name = input("\n Enter your name : ")
subject = input("\n Enter your subject : ")
print("\n Hello {0} and the student subject is {1} and {1} subject is very interesting".format(name.upper(),subject.upper()))
#name index = 0, subject = 1, subject = 2

 Enter your name :aman

 Enter your subject :python

 Hello AMAN and the student subject is PYTHON and PYTHON subject is very interesting

In [76]:
a = input()
type(a)

[1,2,3,4,5]

str

In [ ]:
#### input return the data type string

In [77]:
name = input("\n Enter your name : ")
maths = int(input("\n Enter your maths marks : "))
eng = int(input("\n Enter your english marks : "))
print(type(maths),type(eng))

 Enter your name :simran

 Enter your maths marks : 45

 Enter your english marks : 5
<class 'int'> <class 'int'>

In [79]:
name = input("\n Enter your name : ")
maths = int(input("\n Enter your maths marks : "))
eng = int(input("\n Enter your english marks : "))
per = (maths+eng)/2
print(f"\n Student with name {name} got {per}%")

 Enter your name :ajay

 Enter your maths marks :67

 Enter your english marks : 78

 Student with name ajay got 72.5%

In [80]:
s = "SIMRAN GROVER"
s.center(80)

'                                 SIMRAN GROVER                                  '

In [81]:
s = "SIMRAN GROVER"
s.center(80,"*")

'*********************************SIMRAN GROVER**********************************'

In [82]:
s.center(80,"#")

'#################################SIMRAN GROVER##################################'

In [83]:
s.rjust(80)

'                                                                   SIMRAN GROVER'

In [84]:
s.ljust(50)

'SIMRAN GROVER                                     '

In [85]:
s = "this is cat"

In [87]:
s.index("i")
#from left to right and when it will get the first time that character it will return that index

2

In [88]:
s.index("c")

8

In [89]:
s.index("a")

9

In [90]:
s.rindex("i")
#right to left

5

In [91]:
s.replace("cat","dog")

'this is dog'

In [92]:
s.replace("is","are")

'thare are cat'

In [93]:
s[4:]

' is cat'

In [94]:
s[4:].replace("is","are")

' are cat'

In [96]:
"these" + s[4:].replace("is","are")

'these are cat'

### List

    it is a collection of elements
    
    identification = []
    
    
    array and list:
    
    1. Store multiple elements
    2. Array are homogenous(store only same data type)
    3. List are homogenous(same data) and heterogenous(different data type)
    4. Array and list both are mutable
    
    
    More Properties of list:
    
    1. You can have nested list
    2. Sequential
    3. Ordered

In [97]:
l = []

In [98]:
type(l)

list

In [99]:
l1 = [1,2,3,4,5,6] #homogenous --> same data 
l2 = [1,2,3,"hello",12.345,4+5j] #heterogenous
l3 = [1,2,3,4,["hello","world"]] #nested list

In [100]:
type(l1)

list

In [101]:
type(l2)

list

In [102]:
type(l3)

list

    List is sequential
    
    1. indexing
    2. concatenation
    3. repitition

In [103]:
l

[]

In [104]:
l1

[1, 2, 3, 4, 5, 6]

In [105]:
l2

[1, 2, 3, 'hello', 12.345, (4+5j)]

In [106]:
l1 + l2  #concatenation

[1, 2, 3, 4, 5, 6, 1, 2, 3, 'hello', 12.345, (4+5j)]

In [107]:
l1 + "hello"

TypeError: can only concatenate list (not "str") to list

In [108]:
l2 + l1

[1, 2, 3, 'hello', 12.345, (4+5j), 1, 2, 3, 4, 5, 6]

In [110]:
l1*3

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [111]:
l1*4

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [112]:
(l1+l2)*3

[1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 'hello',
 12.345,
 (4+5j),
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 'hello',
 12.345,
 (4+5j),
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 'hello',
 12.345,
 (4+5j)]

In [114]:
a = "abc@3456"
# before @ --> 3 
#654@
#ex = abcd@12345 --> 5432@
#12345@abcdefg --> gfedc@
#work from home

In [115]:
l = [1,2,3,4,5]  #5,4,3,2,1
l[::-1]

[5, 4, 3, 2, 1]

In [116]:
n = int(input("\n Enter any number : "))

 Enter any number : 12345

In [118]:
n[::-1]

TypeError: 'int' object is not subscriptable

In [120]:
n = int(input("\n Enter any number : "))
int(str(n)[::-1])

 Enter any number :123456

654321

In [121]:
l

[1, 2, 3, 4, 5]

In [122]:
l1

[1, 2, 3, 4, 5, 6]

In [123]:
l2

[1, 2, 3, 'hello', 12.345, (4+5j)]

    Slicing
    
        list_object[start:stop:step]
        
            default step = 1, start = 0, stop = end
            
                step = -1, start = -1, stop = end

In [125]:
l2[0]

1

In [126]:
l2[1]

2

In [127]:
l2[3]

'hello'

In [128]:
l2[-1]

(4+5j)

In [129]:
l2[-2]

12.345

In [130]:
l2

[1, 2, 3, 'hello', 12.345, (4+5j)]

In [131]:
l2[::-1]
#step = -1 start = -1, stop = end

[(4+5j), 12.345, 'hello', 3, 2, 1]

In [132]:
alpha = ['a','b','c','d','e','f','g','h','i','j','k']

In [133]:
len(alpha)

11

In [134]:
alpha.__len__()

11

In [135]:
alpha[4:9:2]
#start = 4, end = 8

['e', 'g', 'i']

In [136]:
alpha[-2:11:-1]

[]

In [138]:
alpha[-2:11]
#-2 --> j
# -2 + 1 --> -1 --> k = 10

['j', 'k']

In [139]:
alpha[:100]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [140]:
alpha[-1:-100:-1]

['k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [141]:
alpha[-4:2:-1]

['h', 'g', 'f', 'e', 'd']

In [142]:
print(dir(alpha))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [145]:
alpha[-2] = "z"  #mutable

In [146]:
alpha

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'z', 'k']

In [148]:
s[-2] = "k"

TypeError: 'str' object does not support item assignment

In [150]:
alpha[4] = "hi"

In [151]:
alpha

['a', 'b', 'c', 'd', 'hi', 'f', 'g', 'h', 'i', 'z', 'k']

In [152]:
l3

[1, 2, 3, 4, ['hello', 'world']]

In [153]:
len(l3)

5

In [154]:
l3[-1]

['hello', 'world']

In [155]:
l3[-1][-1]

'world'

In [156]:
l = ["python",["core python","advance",["web development","data science",["ml","dl","nlp"]]]]

In [157]:
len(l)

2

In [159]:
l[1]

['core python',
 'advance',
 ['web development', 'data science', ['ml', 'dl', 'nlp']]]

In [160]:
len(l[1])

3

In [163]:
l[1][-1][1]

'data science'

In [166]:
l[1][-1][-1][1]

'dl'

In [169]:
l[1][1]

'advance'

In [172]:
l[1][2][-1][-1]

'nlp'

In [173]:
#list functions